.login {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h1 {
    text-align: center;
    margin-top: 50px;
}

.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    border-bottom: 1px solid black;
}

.welcome_image {
    width: 400px;
}

.login_form {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    box-shadow: 
    3px 3px 8px rgba(0, 0, 0, 0.1),  
    2px 1px 3px rgba(0, 0, 0, 0.08),
    -3px -3px 8px rgba(0, 0, 0, 0.1); 
}

.input_login{
    margin: auto;
    margin-top: 15px;
    margin-inline: 20px;
    padding: 10px;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0);
    min-width: 300px;
    border-radius: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    box-shadow: 
    5px 5px 8px rgba(0, 0, 0, 0.1),  
    2px 1px 3px rgba(0, 0, 0, 0.08),
    -5px -5px 8px rgba(0, 0, 0, 0.1); 
}

.btn{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    padding: 10px;
    background-color: rgb(255, 237, 249);
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    box-shadow: 
    5px 5px 8px rgba(0, 0, 0, 0.1),  
    2px 1px 3px rgba(0, 0, 0, 0.08),
    -5px -5px 8px rgba(0, 0, 0, 0.1); 
}

.btn:hover{
    border: solid 1px wheat;
    background-color: white;
}