{% extends 'base.html' %}

{% block pagecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block title %}
Login
{% endblock %}

{% block body %}
<div class="login">
    <h1 class="title">Welcome to Cardgame! Please Login</h1>
    <img class="welcome_image" src="{{ url_for('static', filename='images/Dashboard.png') }}"/>
    <form class="login_form" method="POST" action="/login">
        <input type="text" class="input_login" name="username" placeholder="Your Login" required>
        <button class="btn" type="submit">Enter</button>
    </form> 
</div>
{% endblock %}
